<!doctype html>
<head>
    <title>Smaran</title>
</head>
<body>
<h1>Welcome to Smaran</h1>
<p>Set Your Prompted Reminder</p>
    <form action="/callMini" method="post">
        <input type="text" name="user_content">
        <input type="submit">    
    </form>
</body>
<a href="/reminders">Reminders</a>
</html>